<a href="https://colab.research.google.com/github/DhruboDevPramanik/PythonForML/blob/main/vid1to7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## print and comment

In [ ]:
print("hare Krishna")

hare Krishna

In [ ]:
#coments
'''
hi
fdf
e
erf '''
print("hare Krishna")

hare Krishna

#placeholder

In [ ]:
first_name="Dhrubo"
last_name="pramanik"
print("my name is {} dev {}".format(first_name,last_name))
print("my name is "+first_name + " Dev "+last_name)

my name is Dhrubo dev pramanik
my name is Dhrubo Dev pramanik

# Inpur type

In [ ]:
a=input("enter number a ")
b=input("enter number b ")
print(a+b)

enter number a 12
enter number b 34
1234

In [ ]:
a=input("enter number a ")
b=input("enter number b ")
print(int(a)+int(b))

enter number a 12
enter number b 34
46

## Control flow

In [ ]:
a=input("enter number a ")
int_val=int(a)
if(int_val<100):
  print("less than 100")
elif(int_val>100 and int_val<150 ):
  print("greater than 100 but less than 150")
else:
  print("Grater than 150")

enter number a 122
greater than 100 but less than 150

#loops

In [ ]:
list=[1,2,3,4,5,6]
sum1=0
for i in list:
    sum1=sum1+i
print(sum1)

21

In [ ]:
##while loops
i=0
while(i<=10):
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9
10

## is vs ==

In [ ]:
a='Dhrubo'
b='Dhrubo'
print(id(a))
print(id(b))
#see the variable points to the same object

138067534388656
138067534388656

In [ ]:
a is b

True

the == checks the same value and is checks the same memory objects

In [ ]:
list1=[1,2,3,4]
list2=[1,2,3,4]
print(id(list1))
print(id(list2))

138066605773504
138067127575168

In [ ]:
list1 is list2

False

so if the list is same but they did not locate the same objects. it happens in every collection

In [ ]:
list1==list2

True

# number methods,list

In [ ]:
import math
math.sin(math.radians(90))# sin er moddhe shobsomoy radian dhukbe

1.0

In [ ]:
math.hypot(2,3,4)# it does root of(2^2,3^2,4^2)

5.385164807134504

## list

In [ ]:
list1=[1,2,3,4,'dhrubo']#process 1

In [ ]:
list1

[1, 2, 3, 4, 'dhrubo']

In [ ]:
print(list1)

[1, 2, 3, 4, 'dhrubo']

In [ ]:
list3=list((2,4,5))#process 2
list3

[2, 4, 5]

In [ ]:
for i in list1:
  print(i)

1
2
3
4
dhrubo

In [ ]:
list2=[1,2,3,4,5,6]

In [ ]:
max(list2)

6

In [ ]:
len(list2)

6

##append for inseting at last position

In [ ]:
list2.append(22)

In [ ]:
list2

[1, 2, 3, 4, 5, 6, 22]

In [ ]:
list2.append(2,3)# will not work

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
list2.append([2,3]) #it has become the 2 nested lists ,extend will do this
list2

In [ ]:
list2[7][0]

In [ ]:
print( list2[:4])# up to 4th index
print(list2[2:5])# between 2nd to 4th index

##insert in any posion by insert function

In [ ]:
print(list2)
list2.insert(0,222)
print(list2)

#extend

In [ ]:
list2.extend([222,444])
list2

[222, 1, 2, 3, 4, 5, 6, 22, [2, 3], 222, 444]

# operations in list

In [ ]:
list3=[1,2,4,4,4,4,4,3,4,5,6,7,8,9]
sum(list3)

65

In [ ]:
list3.count(4)

6

In [ ]:
list3.pop(1)
list3

[1, 4, 4, 4, 4, 4, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list4=[]
for i in list3:
  list4.append(i/2)
print(list4)

[0.5, 2.0, 2.0, 2.0, 2.0, 2.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

# sets

In [ ]:
set1={}
type(set1)

dict

if there is nothing in set it is by default dictionary.

In [ ]:
set2={1}
type(set2)

set

In [ ]:
set3=set([1,2,3,4,5,5])# no duplicate will be appered
print(set3)

{1, 2, 3, 4, 5}

In [ ]:
set3[1] #no indexing in set

TypeError: 'set' object is not subscriptable

In [ ]:
#but iteeration is possible
for i in set3 :
  print(i)

1
2
3
4
5

operations in set

In [ ]:
set3.add("ddp")
set3

{1, 2, 3, 4, 5, 'ddp'}

In [ ]:
set3.add("app")   #look it is sorted automatically
set3

{1, 2, 3, 4, 5, 'app', 'ddp'}

In [ ]:

set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [ ]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'IronMan'}

In [ ]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.issubset(set1)

False

##Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [ ]:
dic={}

type(dic)

dict

In [ ]:
dic1={1,2,3,4,5}
type(dic1)

set

In [ ]:
dic2={'roll' : 1}# here the roll is the key . key should be written in quoats
print(dic2)
print(type(dic2))

{'roll': 1}
<class 'dict'>

In [ ]:
dic2={'roll' : {1,2,3},'id':{1,2,3}}
dic2['roll'][0] #because we add set in thedictionary . set does not have any index. but dictionary has index by the keys

TypeError: 'set' object is not subscriptable

In [ ]:
dic2['roll']# dictionary has index by the keys but not dic2[0]

{1, 2, 3}

In [ ]:
dic2={'roll' : [1,2,3], 'id1':[1,2,3]}

dic2[roll][0]

1

In [ ]:
dic2.keys()

dict_keys(['roll', 'id1'])

In [ ]:
dic2.items()

dict_items([('roll', {1, 2, 3}), ('id', {1, 2, 3})])

In [ ]:
dic2.values()

dict_values([{1, 2, 3}, {1, 2, 3}])

In [ ]:
import pandas as pd
dic2={'roll' : [1,2,3], 'id1':[1,2,3]}
df=pd.DataFrame(dic2)
df

   roll  id1
0     1    1
1     2    2
2     3    3

In [ ]:
dic2={'roll' : [1,2,3], 'id1':[1,2,3]}

for i in dic2:
  print(i)

for i in dic2.values():
  print(i)

for i in dic2.items():
  print(i)

roll
id1
[1, 2, 3]
[1, 2, 3]
('roll', [1, 2, 3])
('id1', [1, 2, 3])

adding newelements:

In [ ]:
dic2['no']=[1,2,3]
dic2

{'roll': [1, 2, 3], 'id1': [1, 2, 3], 'no': [1, 2, 3]}

In [ ]:
dic2[roll][2]=4
dic2

{'roll': [1, 2, 4], 'id1': [1, 2, 3], 'no': [1, 2, 3]}

# Nested dictionary

In [ ]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [ ]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [ ]:
car_type['car1']

{'Mercedes': 1960}

In [ ]:
car_type['car1']['Mercedes']

1960

more complex value

In [ ]:
car1_model={'Mercedes':[1960,1990]}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [ ]:
print(car_type)

{'car1': {'Mercedes': [1960, 1990]}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [ ]:
car_type['car1']['Mercedes'][1]

1990

# tuple

In [ ]:
my_tuple=("Krish","Ankur","John")

In [ ]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankur', 'John')

In [ ]:
my_tuple[0]

'Krish'